{% extends 'webpage/Utils/webTemplate.html' %}

{% load static %}

{% block title %} Scores - GoodGame {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/scores.css' %}">{% endblock %}

{% block contenido %}


    <h1 class="main-title">SCORES</h1>

    <a href="{% url 'scoreArkanoid' %}" class="card-a">
        <div class="game-card">
            <div class="image-card">
                <img src="{% static 'IMG/Arkanoid.png' %}" alt="Arkanoid Image">
            </div>
            <div class="text">
                <h3>Arkanoid</h3>
                <p>Controlling a paddle-like craft known as the Vaus, the player is tasked with clearing a formation of
                    colorful blocks by deflecting a ball towards it without letting the ball leave the bottom edge of
                    the playfield. </p>
            </div>
            <div class="year">
                <p>1986</p>
            </div>
        </div>
    </a>

    <a href="{% url 'scorePong' %}" class="card-a">
        <div class="game-card">
            <div class="image-card">
                <img src="{% static 'IMG/pong.jpg' %}" alt="Pong Image">
            </div>
            <div class="text">
                <h3>Pong</h3>
                <p>Pong is a table tennis–themed twitch arcade sports video game, featuring simple two-dimensional
                    graphics,</p>
            </div>
            <div class="year">
                <p>1972</p>
            </div>
        </div>
    </a>

    <a href="{% url 'scoreSpaceInvaders' %}" class="card-a">
        <div class="game-card">
            <div class="image-card">
                <img src="{% static 'IMG/Space_Invaders.jpg' %}" alt="SpaceInvaders Image">
            </div>
            <div class="text">
                <h3>Space Invaders</h3>
                <p>Space Invaders is a fixed shooter in which the player moves a laser cannon horizontally across the
                    bottom of the screen and fires at aliens overhead. The aliens begin as five rows of eleven that move
                    left and right as a group, shifting downward each time they reach a screen edge.</p>
            </div>
            <div class="year">
                <p>1978</p>
            </div>
        </div>
    </a>

{% endblock %}