{% extends 'webpage/Utils/webTemplate.html' %}

{% load static %}

{% block title %} Score - Pong {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/scoreDetail.css' %}">{% endblock %}

{% block contenido %}


    <h1 class="main-title">Pong</h1>
    <h2 class="second-title">SCORES</h2>

    <table class="score-table">
        <tr class="head-table">
            <th class="top-th">TOP</th>
            <th class="user-th">USERNAME</th>
            <th class="score-th">SCORE</th>
            <th class="date-th">DATE</th>
        </tr>
        {% for score in scores %}
            {% if forloop.counter == 1 %}
            <tr class="first">
                    {% if score.gameFK_id == pong.id %}
                        <td class="top-td">{{ forloop.counter }}</td>
                        <td class="user-td">{{ score.user }}</td>
                        <td class="score-td">{{ score.puntuacion }}</td>
                        <td class="date-td">{{ score.pub_date|date:'d-m-Y' }}</td>
                    {% endif %}
                </tr>
            {% elif forloop.counter == 2 %}
              <tr class="second">
                    {% if score.gameFK_id == pong.id %}
                        <td class="top-td">{{ forloop.counter }}</td>
                        <td class="user-td">{{ score.user }}</td>
                        <td class="score-td">{{ score.puntuacion }}</td>
                        <td class="date-td">{{ score.pub_date|date:'d-m-Y' }}</td>
                    {% endif %}
                </tr>
            {% elif forloop.counter == 3 %}
                <tr class="third">
                    {% if score.gameFK_id == pong.id %}
                        <td class="top-td">{{ forloop.counter }}</td>
                        <td class="user-td">{{ score.user }}</td>
                        <td class="score-td">{{ score.puntuacion }}</td>
                        <td class="date-td">{{ score.pub_date|date:'d-m-Y' }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr class="rest">
                    {% if score.gameFK_id == pong.id %}
                        <td class="top-td">{{ forloop.counter }}</td>
                        <td class="user-td">{{ score.user }}</td>
                        <td class="score-td">{{ score.puntuacion }}</td>
                        <td class="date-td">{{ score.pub_date|date:'d-m-Y' }}</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}