h1.main-title{
    text-align: center;
    font-size: 3.6em;
    color: mediumpurple;
    font-weight: bold;
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
}
h1.main-title:hover{
    color: green;
}
h2.second-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

div.v-card{
    width: 100%;
    height: 50em;
    align-content: center;
    align-items: center;
}
div.intrinsic-container{
    width: 100%;
    height: 50em;
    align-content: center;
    align-items: center;
}

.responsive-frame{
    width: 100%;
    height: 50em;
    align-content: center;
    align-items: center;
}

h3.no-user{
    padding-top: 1em;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
}
h3.no-user2{
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}