
/* TITLES - INICIO */
h1.main-title{
    text-align: center;
    font-size: 3.6em;
    color: mediumpurple;
    font-weight: bold;
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
}

h1.main-title:hover{
    color: green;
}
h2.second-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
/* TITLES - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* CARDS - INICIO */
div.card-flex{
    display: flex;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    text-align: center;
}
div.medium-flex{
    flex: 1;
}
div.card-flex a{
    flex: 17;
    background-color: black;
    border: 0.4em solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
}

div.game-flex img, div.score-flex img{
    margin-top: 0;
    width: 100%;
}
div.game-flex h2, div.score-flex h2{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: mediumpurple;
    margin-top: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* CARDS - FINAL */