/* TITLES - INICIO */
h1.main-title{
    text-align: center;
    font-size: 3.6em;
    color: mediumpurple;
    font-weight: bold;
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
}

h1.main-title:hover{
    color: green;
}
h2.second-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
/* TITLES - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* TABLES - INICIO */
table.score-table {
    width: 100%;
}
table.score-table,
table.score-table tr,
table.score-table td{
    border: 0.3em solid black;
    border-collapse: collapse;
}
table.score-table tr th,
table.score-table tr td{
    padding: 1em;
    margin: 0;
}
tr.head-table {
    background-color: black;
    color: mediumpurple;
    text-align: start;
    font-size: 2em;
    font-weight: bold;
}

    /* HEAD TABLE - INICIO */
    th.top-th{
        width: 1em;
    }
    th.user-th{
        width: 8em;
    }
    th.score-th{
        width: 9em;
    }
    th.date-th{
        width: 5em;
    }
    /* HEAD TABLE - FINAL */

    /* ROWS TABLE - INICIO */
    tr.first{background-color: gold;}
    tr.second{background-color: lightgrey;}
    tr.third{background-color: darkorange;}
    tr.rest{background-color: white;}

        /* FIRST - INICIO */
        tr.first td.top-td,
        tr.first td.date-td{
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            border: 0.1em solid black;
        }
        tr.first td.user-td,
        tr.first td.score-td{
            font-size: 2.5em;
            font-weight: bold;
            border: 0.15em solid black;
            padding-left: 0.6em;
        }
        /* FIRST - FINAL */

        /* SECOND - INICIO */
        tr.second td.top-td,
        tr.second td.date-td{
            text-align: center;
            font-size: 1.8em;
            font-weight: bold;
            border: 0.18em solid black;
        }
        tr.second td.user-td,
        tr.second td.score-td{
            font-size: 1.8em;
            font-weight: bold;
            border: 0.2em solid black;
            padding-left: 1em;
        }
        /* SECOND - FINAL */

        /* THIRD - INICIO */
        tr.third td.top-td,
        tr.third td.date-td{
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            border: 0.22em solid black;
        }
        tr.third td.user-td,
        tr.third td.score-td{
            font-size: 1.2em;
            font-weight: bold;
            border: 0.26em solid black;
            padding-left: 1.7em;
        }
        /* THIRD - FINAL */

        /* REST - INICIO */
        tr.rest td.top-td,
        tr.rest td.date-td{
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            border: 0.22em solid black;
        }
        tr.rest td.user-td,
        tr.rest td.score-td{
            font-size: 1em;
            font-weight: bold;
            border: 0.26em solid black;
            padding-left: 2em;
        }
        /* REST - FINAL */

    /* ROWS TABLE - FINAL */

/* TABLES - FINAL */