
/* TITLES - INICIO */
h1.main-title{
    text-align: center;
    font-size: 3.6em;
    color: mediumpurple;
    font-weight: bold;
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;
}
/* TITLES - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* CARDS - INICIO */
a.card-a{
    text-decoration: none;
    color: black;
}
div.game-card {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 18em;
    background-color: black;
    border: 0.4em solid black;
    border-radius: 12px;
    color: white;
}
div.game-card div.image-card {
    flex: 3;
}
div.game-card div.text{
    flex: 20;
    text-decoration: none;
    padding-left: 4em;
    padding-top: 0.5em;
    padding-right: 3em;
}
div.game-card div.year{
    flex: 8em;
    text-align: center;
    padding-top: 3em;
    font-size: 2em;
    background-color: mediumpurple;
    color: black;
}
div.game-card div.image-card img{
    width: 100%;
    height: 100%;
}
div.text h3{
    font-size: 3em;
}
div.text p{
    font-size: 1.6em;
}