
body{
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-color: grey;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* HEADER - INICIO */
header.header {
    background-color: #2f3237;
    color: white;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

    /* LOGO HEADER - INICIO */
    div.logo-head {
        flex: 6;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    div.logo-head div.imagen{
        flex: 2;
    }
    div.logo-head div.imagen img{
        width: 7em;
        height: 7em;
        padding: 0.5em;
        padding-left: 2em;
    }
    div.logo-head div.texto{
        flex: 3;
        font-size: 3em;
        font-weight: bold;
        font-style: italic;
    }
    div.logo-head div.texto a{
        text-decoration: none;
        color: white;
    }
    /* LOGO HEADER - FINAL */

    /* LISTA HEADER - INICIO */
    div.list-head{
        flex: 14;
    }
    ul.ul-elements{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li.element-list{
        font-size: 1.8em;
        justify-content: center;
        text-align: center;
        flex: 2;
        display: flex;
        align-items: center;
        height: 4.6em;
        flex-grow: 1;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: -webkit-match-parent;
    }
    li.element-list a{
        text-decoration: none;
        color: white;
    }
    li.element-list:hover{
        background-color: mediumpurple;
    }

    ul.item-drop{
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        display: none;
        background: white;
        box-shadow: 0 2px 10px 0 rgb(0 0 20%);
        min-width: 200px;
        width: max-content;
        align-items: center;
        z-index: 10;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.item-drop li{
        text-align: left;
        align-content: start;
        white-space: nowrap;
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0.5em;
        display: list-item;
        text-align: -webkit-match-parent;
    }
    ul.item-drop li a.link-dropdown{
        color: black;

    }
    ul.item-drop li:hover{
        background-color: mediumpurple;
    }

    li.element-list:hover ul.item-drop{
        display: block;
    }
    img.image-dropdown {
        width: 1em;
        height: 1em;
    }
    /* LISTA HEADER - FINAL */

    /* LOGIN HEADER - INICIO */
    div.login-head {
        flex: 2;
    }
    div.login-head img#imageLogin {
        width: 5em;
        height: 5em;
        filter: invert(0.7);
        padding-left: 2em;
    }
    div.login-head img#imageLogin:hover {
        filter: invert(1);
    }

    /* LOGIN HEADER - FINAL */

/* HEADER - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* FLEX BODY - INICIO */
div.flex-body{
    margin-top: 7em;
    display: flex;
}
div.flex-body div.flex{
    flex: 1;
}
div.flex-body div.content-flex{
    flex: 12;
}
/* FLEX BODY - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* MODAL LOGIN - INICIO */
div.modal {
    color: black;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

    /* CONTENDIO MODAL - INICIO */
    div.modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #2f3237;
        width: 50%;
        display: flex;
    }
    div.image-flex, div.login-flex{
        flex: 1;
    }

        /* IMAGE 50% - INICIO */
        div.image-flex{
            background-color: #2f3237;
            align-content: center;
            text-align: center;
            color: white;
        }
        div.image-flex img{
            width: 20em;
            height: 20em;
            padding-left: 3em;
            padding-right: 3em;
            padding-bottom: 8em;
            filter: invert(0);
        }
        div.image-flex img:hover {
            filter: invert(0.8);
        }
        div.image-flex h1{
            font-size: 3em;
            font-style: italic;
            color: mediumpurple;
        }
        div.image-flex p{
            font-size: 1.8em;
            padding-left: 1em;
            padding-right: 1em;
            font-weight: bold;
        }
        /* IMAGE 50% - FINAL */

        /* LOGIN FORM 50% - INICIO */
        div.login-flex {
            align-content: center;
            text-align: center;
            color: black;
        }
        div.login-flex p.title{
            font-size: 1.5em;
            font-weight: bold;
        }
        div.login-flex p.sub-title{
            font-size: 1.3em;
            color: mediumpurple;
            font-weight: bold;
        }

        div.placeholder {
            position: relative;
            text-align: left;
            align-content: start;
            width: 22em;
            padding-left: 2em;
            margin-bottom: 2em;
        }
        div.placeholder input{
            width: 100%;
            height: 2em;
            background: #f8f8f8;
            border: 1px solid #efefef;
            box-shadow: none;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 1em;
        }
        /* LOGIN FORM 50% - FINAL */

        /* LOGIN FORM SUBMIT - INICIO */
        div.place-btn{
            display: flex;
            flex-direction: row;
        }
        div.registrarme, div.btn-login{
            flex: 1;
            align-content: center;
        }
        div.registrarme button{
            width: 10em;
            padding: 1em;
            background-color: black;
            color: white;
            font-weight: bold;
        }
        div.btn-login button{
            width: 10em;
            padding: 1em;
            background-color: mediumpurple;
            color: black;
            font-weight: bold;
        }

        /* LOGIN FORM SUBMIT - FINAL */

        /* LOGOUT FORM - INICIO */
        div.logout-flex {
            flex: 1;
            align-content: center;
            text-align: center;
        }
        div.padding {
            padding-top: 10em;
        }
        a.sing-out button{
            width: 10em;
            padding: 1em;
            background-color: mediumpurple;
            color: black;
            font-weight: bold;
        }
        span.user-label{
            margin-top: 8em;
            font-size: 2.4em;
            font-weight: bold;
            margin-bottom: 0.6em;
        }
        span.user-name{
            margin-top: 2em;
            font-size: 3em;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 2em;
        }
        /* LOGOUT FORM - FINAL */

    /* CONTENDIO MODAL - INICIO */

    /* CLOSE SPAN - INICIO */
    span.close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: 0.5em;
        margin-right: 0.8em;
    }

    span.close:hover,
    span.close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
    /* CLOSE SPAN - FINAL */
/* MODAL LOGIN - FINAL */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
