{% extends 'webpage/Utils/webTemplate.html' %}

{% load static %}

{% block title %} Game - Pong {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/gameDetail.css' %}">{% endblock %}

{% block contenido %}

    <br><br><br><br>
    <br><br>
    <h1 class="main-title">Pong</h1>
    <h2 class="second-title">GAME</h2>

    {% if user.username %}

        <div data-v-12bb93cb="" class="v-card theme--light" data-v-36f35d60="">
            <div data-v-bfbef82a="" data-v-12bb93cb="" class="intrinsic-container frame-holder"
                 style="padding-bottom: 62.5%;">
                <!---->
                <iframe data-v-bfbef82a=""
                        allow="geolocation; microphone; camera; midi; encrypted-media;"
                        src="https://i.simmer.io/@Genious/pong"
                        allowfullscreen="allowfullscreen"
                        class="responsive-frame"></iframe>

            </div>
        </div>


    {% else %}
        <h3 class="no-user">NOT LOGDED IN</h3>
        <h3 class="no-user2">If you want to play our games you must log in on your account, or create one</h3>
    {% endif %}

{% endblock %}