{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="{% static 'CSS/webTemplate.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'IMG/favicon/favicon.ico' %}">
    {% block linkCSS %}{% endblock %}
</head>
<body>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<!-- HEADER - INCIO -->
<header class="header">

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <!-- LOGO + TEXTO - INCIO -->
    <div class="logo-head">
        <div class="imagen"><a href="{% url 'index' %}"><img src="{% static 'IMG/GoodGame.png' %}" alt="logo"></a></div>
        <div class="texto"><a href="{% url 'index' %}">GoodGame</a></div>
    </div>
    <!-- LOGO + TEXTO - FINAL -->

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <!-- LISTADO - INCIO -->
    <div class="list-head">
        <ul class="ul-elements">
            <li class="element-list home-head">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="element-list games-head">
                <a href="{% url 'games' %}">Games</a>
                <ul class="item-drop">
                    <li>
                        <a href="{% url 'gameArkanoid' %}" class="link-dropdown">
                            <img src="{{ arkanoid.image }}" alt="Arkanoid Icon" class="image-dropdown">
                            <span class="text-dropdown">Arkanoid</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gamePong' %}" class="link-dropdown">
                            <img src="{{ pong.image }}" alt="Pong Icon" class="image-dropdown">
                            <span class="text-dropdown">Pong</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gameSpaceInvaders' %}" class="link-dropdown">
                            <img src="{{ space_invader.image }}" alt="Space Invaders Icon" class="image-dropdown">
                            <span class="text-dropdown">Space Invaders</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="element-list score-head">
                <a href="{% url 'scores' %}">High Score</a>
                <ul class="item-drop">
                    <li>
                        <a href="{% url 'scoreArkanoid' %}" class="link-dropdown">
                            <img src="{{ arkanoid.image }}" alt="Arkanoid Icon" class="image-dropdown">
                            <span class="text-dropdown">Arkanoid</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'scorePong' %}" class="link-dropdown">
                            <img src="{{ pong.image }}" alt="Pong Icon" class="image-dropdown">
                            <span class="text-dropdown">Pong</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'scoreSpaceInvaders' %}" class="link-dropdown">
                            <img src="{{ space_invader.image }}" alt="Space Invaders Icon" class="image-dropdown">
                            <span class="text-dropdown">Space Invaders</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="element-list contact-head">
                <a href="{% url 'contactanos' %}">Contactanos</a>
            </li>
        </ul>
    </div>
    <!-- LISTADO - FINAL -->

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <!-- LOGIN - INCIO -->
    <div class="login-head">
        <img src="{% static 'IMG/iniciar-sesion.png' %}" alt="Iniciar Sesion" id="imageLogin">

        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

        <!-- MODAL LOGIN - INCIO -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="image-flex">
                    <br>
                    <h1>GoodGames</h1>
                    <p>Juega una amplia selección de juegos</p>
                    <img src="{% static 'IMG/GoodGame.png' %}" alt="GoodGame Logo">
                </div>
                {% if user.username %}

                    <div class="logout-flex">
                        <span class="close">&times;</span>
                        <div class="padding">
                            <span class="user-label">USER:</span>
                            <br>
                            <span class="user-name">{{ user.username }}</span>
                            <br><br>
                            <a href="{% url 'logout' %}" class="sing-out">
                                <button type="button">SING OUT</button>
                            </a>
                        </div>
                    </div>
                {% else %}
                <div class="login-flex">
                    <span class="close">&times;</span>
                    <br><br>
                    <p class="title">Inicia sesion en GoodGame</p>
                    <p class="sub-title">¡ES GRATIS!</p>

                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

                    <!-- FORM LOGIN - INCIO -->

                        <form action="{% url 'login' %}" class="login" method="post">
                        {% csrf_token %}
                        <div class="username placeholder">
                            <input class="input-medium" type="text" name="username" id="login-user" value="" placeholder="Username">
                        </div>
                        <div class="password placeholder">
                            <input class="input-medium" type="password" name="password" id="login-pass" value="" placeholder="Password">
                        </div>
                        <div class="place-btn">
                            <div class="registrarme">
                                <a href="#"><button type="button">SING UP</button></a>
                            </div>
                            <div class="btn-login">
                                <button type="submit">LOGIN</button>
                            </div>
                        </div>
                    </form>

                    <!-- FORM LOGIN - FINAL -->

                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

                </div>
                {% endif %}
            </div>
        </div>
        <!-- MODAL LOGIN - FINAL -->

        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

        <!-- SCRIPT OPEN MODAL - INICIO -->
        <script>
            // Get the modal
            var myModal = document.getElementById("myModal");

            // Get the button that opens the modal
            var imageLogin = document.getElementById("imageLogin");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            imageLogin.onclick = function() {
              myModal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              myModal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target === modal) {
                myModal.style.display = "none";
              }
            }

            document.getElementById("login-user").addEventListener("click", function toffi(){
                var label = document.getElementById("label-user");
                if (label.style.display === "block") {
                    label.style.display = "none";
                } else {
                    label.style.display = "block";
                }
                console.log(sw.style.display);
            });

            document.getElementById("login-pass").addEventListener("click", function toffi(){
                var label = document.getElementById("label-pass");
                if (label.style.display === "block") {
                    label.style.display = "none";
                } else {
                    label.style.display = "block";
                }
                console.log(sw.style.display);
            });
        </script>
        <!-- SCRIPT OPEN MODAL - FINAL -->

        <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    </div>
    <!-- LOGIN - FINAL -->

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

</header>
<!-- HEADER - INCIO -->

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<!-- CONTENIDO - INICIO -->
<br><br><br>
<div class="flex-body">
    <div class="flex"></div>
    <div class="content-flex">
        {% block contenido %}{% endblock %}
    </div>
    <div class="flex"></div>
</div>
<!-- CONTENIDO - FINAL -->

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

</body>
</html>