{% extends 'webpage/Utils/webTemplate.html' %}

{% load static %}

{% block title %} Contactanos - GoodGame {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/contactanos.css' %}">{% endblock %}

{% block contenido %}

    <br><br><br><br>
    <br><br>
    <h1 align="center">CONTACTANOS</h1>


{% endblock %}