{% extends 'webpage/Utils/webTemplate.html' %}

{% load static %}

{% block title %} Home - GoodGame {% endblock %}

{% block linkCSS %}<link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">{% endblock %}

{% block contenido %}


    <h1 class="main-title">GoodGame</h1>
    <h2 class="second-title">HOME</h2>


    <div class="card-flex">
        <a href="{% url 'games' %}">
            <div class="game-flex">

                <img src="{% static 'IMG/gamesArcade.jpeg' %}" alt="">
                <h2>GAMES</h2>

            </div>
        </a>
        <div class="medium-flex"></div>
        <a href="{% url 'scores' %}">
            <div class="score-flex">

                <img src="{% static 'IMG/high-score.png' %}" alt="">
                <h2>HIGH SCORE</h2>

            </div>
        </a>
    </div>

{% endblock %}